# Dolby Vision Display Management Configuration File
# Path : ./odm/etc/dolby_vision.cfg
# Date : 07/04/2024
# Display : OLED 6.7 inch
# Brand Model Number: Xiaomi O16U amethyst 24115RA8EC

#Configuration Start
[Display]
ID = 0
Width = 1220
Height = 2712

[Global]
ReferenceDarkPicModeIndex = 2
IDK_Version = SW_4.5.2
DMSwVersion = 4.0
DeviceModelName = NULL
DefaultOutputFormat = YUV

Tmax = 1183
Tmin = 0.0001
TPrimaries = 0.7080 0.2920 0.1700 0.7970 0.1310 0.0469 0.300 0.315 #BT2020
TEOTF = POWER
Tgamma = 2.2

BLUPwm = 87	148	189	208	242
BLULight = 298.62	557.84	807.68	923.13	1183
BLULightMin = 0.0001 0.0001 0.0001 0.0001 0.0001

Ambient = 3
TSurroundReflection = 0.5
TScreenReflection = 0.0005
ALDelayMilliSec = 50
ALResponseFall = 0.004
ALResponseRise = 0.02
ALOperationalRate = 50
TFrontLux = 276
TFrontLuxScale = 1

[PictureMode = 0]
PictureModeName = Dolby Vision Bright
DBrightness = 0.3

[PictureMode = 1]
PictureModeName = Dolby Vision Vivid
DBrightness = 0.3

[PictureMode = 2]
PictureModeName = Dolby Vision Dark
SupportsDM3 = 1
Ambient = 0
#Configuration End
